---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<h2>Preprints</h2>

<ul>
<li data-key='carey2025distinguishability'>Carey, R., Ansanelli, M. M., Wolfe, E., & Evans, R. J. (2025). Distinguishability of causal structures under latent confounding and selection. <i>arXiv:2509.20433</i>.</li>
<li data-key='yang2025outcome'>Yang, L., & Evans, R. J. (2025). Outcome-Informed Weighting for Robust ATE Estimation. <i>arXiv:2503.15989</i>.</li>
<li data-key='yang2025frugal'>Yang, L., Evans, R. J., & Shen, X. (2025). Frugal, Flexible, Faithful: Causal Data Simulation via Frengression. <i>arXiv:2508.01018</i>.</li>
<li data-key='lin2025exact'>Lin, X., de Vassimon Manela, D., Mathis, C., Tarp, J. M., & Evans, R. J. (2025). Exact Simulation of Longitudinal Data from Marginal Structural Models. <i>arXiv:2502.07991</i>.</li>
<li data-key='lin2024data'>Lin, X., Tarp, J. M., & Evans, R. J. (2024). Data fusion for efficiency gain in ATE estimation: a practical review with simulations. <i>arXiv:2407.01186</i>.</li>
<li data-key='hu2024fast'>Hu, Z., & Evans, R. (2024). A fast score-based search algorithm for maximal ancestral graphs using entropy. <i>arXiv:2402.04777</i>.</li>
<li data-key='yao2022regression'>Yao, B., & Evans, R. J. (2022). Regression Identifiability and Edge Interventions in Linear Structural Equation Models. <i>arXiv:2205.13432</i>.</li>
<li data-key='armen2018towards'>Armen, A. P., &amp; Evans, R. J. (2018). Towards characterising Bayesian network models under selection. <i>arXiv:1811.05530</i>.</li>
<li data-key='hitz2016modeling'>Hitz, A. S., &amp; Evans, R. J. (2016). Modeling website visits. <i>arXiv:1611.01024</i>.</li>
</ul>

<h2>Published Papers</h2>

<ul>
<li data-key='lin2025combining'>Lin, X., Tarp, J. M., &amp; Evans, R. J. (2025). Combining experimental and observational data through a power likelihood. <i>Biometrics</i>, <i>81</i>(1), ujaf008.</li>
<li data-key='de2025testing'>de Vassimon Manela, D., Yang, L., &amp; Evans, R. J. (2025). Testing Generalizability in Causal Inference. <i>Proceedings of the 41st Conference on Uncertainty in Artificial Intelligence</i>.</li>
<li data-key='evans2024parameterizing'>Evans, R. J., &amp; Didelez, V. (2024). Parameterizing and simulating from causal models. <i>Journal of the Royal Statistical Society Series B: Statistical Methodology</i>, <i>86</i>(3), 535–568.</li>
<li data-key='de2024marginal'>de Vassimon Manela, D., Battaglia, L., &amp; Evans, R. (2024). Marginal causal flows for validation and inference. <i>Advances in Neural Information Processing Systems</i>, <i>37</i>, 9920–9949.</li>
<li data-key='hu2024towards'>Hu, Z., &amp; Evans, R. J. (2024). Towards standard imsets for maximal ancestral graphs. <i>Bernoulli</i>, <i>30</i>(3), 2026–2051.</li>
<li data-key='hu2024kernel'>Hu, R., Sejdinovic, D., &amp; Evans, R. J. (2024). A kernel test for causal association via noise contrastive backdoor adjustment. <i>Journal of Machine Learning Research</i>, <i>25</i>(160), 1–56.</li>
<li data-key='carey2024toward'>Carey, R., Lee, S., &amp; Evans, R. J. (2024). Toward a complete criterion for value of information in insoluble decision problems. <i>Transactions of Machine Learning Research</i>.</li>
<li data-key='tamambang2024two'>Tamambang, R., Kusi-Mensah, K., Bella-Awusah, T., Ogunmola, O., Afolayan, A., Toska, E., Hertzog, L., Rudgard, W., Evans, R., Stöeckl, H., &amp; et al. (2024). Two are Better Than One but Three is Best: Fast-Tracking the Attainment of the Sustainable Development Goals (SDGs) Among In-School Adolescents in Nigeria. <i>Child Indicators Research</i>, <i>17</i>(5), 2219–2241.</li>
<li data-key='tamambang2024identifying'>Tamambang, R., Kusi-Mensah, K., Bella-Awusah, T., Ogunmola, O., Afolayan, A., Toska, E., Hertzog, L., Rudgard, W., Evans, R., &amp; Omigbodun, O. (2024). Identifying potential catalysts to accelerate the achievement of Sustainable Development Goals (SDGs) among adolescents living in Nigeria. <i>Psychology, Health &amp; Medicine</i>, <i>29</i>(4), 868–887.</li>
<li data-key='richardson2023nested'>Richardson, T. S., Evans, R. J., Robins, J. M., &amp; Shpitser, I. (2023). Nested Markov properties for acyclic directed mixed graphs. <i>The Annals of Statistics</i>, <i>51</i>(1), 334–361.</li>
<li data-key='evans2023latent'>Evans, R. J. (2023). Latent free equivalent mDAGs. <i>Algebraic Statistics</i>, <i>14</i>(1), 3–16.</li>
<li data-key='fawkes2023results'>Fawkes, J., &amp; Evans, R. J. (2023). Results on counterfactual invariance. <i>SCIS Workshop, ICML</i>.</li>
<li data-key='fawkes2022doubly'>Fawkes, J., Hu, R., Evans, R. J., &amp; Sejdinovic, D. (2023). Doubly robust kernel statistics for testing distributional treatment effects even under one sided overlap. <i>Transactions of Machine Learning Research</i>.</li>
<li data-key='ter2023pwshap'>Ter-Minassian, L., Clivio, O., Diazordaz, K., Evans, R. J., &amp; Holmes, C. C. (2023). PWSHAP: a path-wise explanation model for targeted variables. <i>International Conference on Machine Learning</i>, 34054–34089.</li>
<li data-key='yao2022algebraic'>Yao, B., &amp; Evans, R. (2022). Algebraic properties of HTC-identifiable graphs. <i>Algebraic Statistics</i>, <i>13</i>(1), 19–39.</li>
<li data-key='kusi2022accelerating'>Kusi-Mensah, K., Tamambang, R., Bella-Awusah, T., Ogunmola, S., Afolayan, A., Toska, E., Hertzog, L., Rudgard, W., Evans, R., &amp; Omigbodun, O. (2022). Accelerating progress towards the sustainable development goals for adolescents in Ghana: a cross-sectional study. <i>Psychology, Health &amp; Medicine</i>, <i>27</i>(sup1), 49–66.</li>
<li data-key='hinze2022exploring'>Hinze, V., Ford, T., Evans, R., Gjelsvik, B., &amp; Crane, C. (2022). Exploring the relationship between pain and self-harm thoughts and behaviours in young people using network analysis. <i>Psychological Medicine</i>, <i>52</i>(15), 3560–3569.</li>
<li data-key='fawkes2022selection'>Fawkes, J., Evans, R., &amp; Sejdinovic, D. (2022). Selection, ignorability and challenges with causal fairness. <i>Conference on Causal Learning and Reasoning</i>, 275–289.</li>
<li data-key='evans2021dependency'>Evans, R. J. (2021). Dependency in DAG models with hidden variables. <i>Proceedings of the 37th Conference on Uncertainty in Artificial Intelligence</i>, 813–822.</li>
<li data-key='cernis2021dissociation'>Černis, E., Evans, R., Ehlers, A., &amp; Freeman, D. (2021). Dissociation in relation to other mental health conditions: An exploration using network analysis. <i>Journal of Psychiatric Research</i>, <i>136</i>, 460–467.</li>
<li data-key='hu2020faster'>Hu, Z., &amp; Evans, R. (2020). Faster algorithms for Markov equivalence. <i>Proceedings of the 36th Conference on Uncertainty in Artificial Intelligence</i>, 739–748.</li>
<li data-key='evans2020model'>Evans, R. J. (2020). Model selection and local geometry. <i>The Annals of Statistics</i>, <i>48</i>(6), 3513–3544.</li>
<li data-key='evans2019smooth'>Evans, R. J., &amp; Richardson, T. S. (2019). Smooth, identifiable supermodels of discrete DAG models with latent variables. <i>Bernoulli</i>, 848–876.</li>
<li data-key='bird2019adolescent'>Bird, J. C., Evans, R., Waite, F., Loe, B. S., &amp; Freeman, D. (2019). Adolescent paranoia: Prevalence, structure, and causal mechanisms. <i>Schizophrenia Bulletin</i>, <i>45</i>(5), 1134–1142.</li>
<li data-key='allman2019maximum'>Allman, E. S., Baños, H., Evans, R., Hoşten, S., Kubjas, K., Lemke, D., Rhodes, J. A., &amp; Zwiernik, P. (2019). Maximum Likelihood Estimation of the Latent Class Model through Model Boundary Decomposition. <i>Journal of Algebraic Statistics</i>, <i>10</i>(1), 51–84.</li>
<li data-key='shpitser2018acyclic'>Shpitser, I., Evans, R. J., &amp; Richardson, T. S. (2018). Acyclic linear SEMs obey the nested Markov property. <i>Proceedings of the 34th Conference on Uncertainty in Artificial Intelligence</i>, 255.</li>
<li data-key='evans2018markov'>Evans, R. (2018). Markov properties for mixed graphical models. <i>Handbook of Graphical Models</i>, 39–60.</li>
<li data-key='evans2018margins'>Evans, R. J. (2018). Margins of discrete Bayesian networks. <i>The Annals of Statistics</i>, <i>46</i>(6A), 2623–2656.</li>
<li data-key='didelez2018causal'>Didelez, V., &amp; Evans, R. J. (2018). Causal inference from case-control studies. <i>Handbook of Statistical Methods for Case-Control Studies</i>, 87–115.</li>
<li data-key='nowzohour2017distributional'>Nowzohour, C., Maathuis, M. H., Evans, R. J., &amp; Bühlmann, P. (2017). Distributional equivalence and structure learning for bow-free acyclic path diagrams. <i>Electronic Journal of Statistics</i>.</li>
<li data-key='silva2016causal'>Silva, R., &amp; Evans, R. (2016). Causal inference through a witness protection program. <i>Journal of Machine Learning Research</i>, <i>17</i>(56), 1–53.</li>
<li data-key='hitz2016one'>Hitz, A., &amp; Evans, R. (2016). One-component regular variation and graphical modeling of extremes. <i>Journal of Applied Probability</i>, <i>53</i>(3), 733–746.</li>
<li data-key='evans2016graphs'>Evans, R. J. (2016). Graphs for margins of Bayesian networks. <i>Scandinavian Journal of Statistics</i>, <i>43</i>(3), 625–648.</li>
<li data-key='evans2015smoothness'>Evans, R. J. (2015). Smoothness of marginal log-linear parameterizations. <i>Electronic Journal of Statistics</i>, <i>9</i>, 475–491.</li>
<li data-key='evans2015recovering'>Evans, R. J., &amp; Didelez, V. (2015). Recovering from Selection Bias using Marginal Structure in Discrete Models. <i>ACI @ UAI</i>, 46–55.</li>
<li data-key='silva2014causal'>Silva, R., &amp; Evans, R. (2014). Causal inference through a witness protection program. <i>Advances in Neural Information Processing Systems</i>, <i>27</i>.</li>
<li data-key='shpitser2014introduction'>Shpitser, I., Evans, R. J., Richardson, T. S., &amp; Robins, J. M. (2014). Introduction to nested Markov models. <i>Behaviormetrika</i>, <i>41</i>(1), 3–39.</li>
<li data-key='evans2014markovian'>Evans, R. J., &amp; Richardson, T. S. (2014). Markovian acyclic directed mixed graphs for discrete data. <i>Annals of Statistics</i>, 1452–1482.</li>
<li data-key='evans2014graphical'>Evans, R. J. (2014). Graphical latent structure testing. <i>Advances in Latent Variables: Methods, Models and Applications</i>, 253–262.</li>
<li data-key='shpitser2013sparse'>Shpitser, I., Evans, R. J., Richardson, T. S., &amp; Robins, J. M. (2013). Sparse nested Markov models with log-linear parameters. <i>Proceedings of the 29th Conference on Uncertainty in Artificial Intelligence</i>.</li>
<li data-key='evans2013two'>Evans, R. J., &amp; Forcina, A. (2013). Two algorithms for fitting constrained marginal models. <i>Computational Statistics &amp; Data Analysis</i>, <i>66</i>, 1–7.</li>
<li data-key='evans2013marginal'>Evans, R. J., &amp; Richardson, T. S. (2013). Marginal log-linear parameters for graphical Markov models. <i>Journal of the Royal Statistical Society: Series B (Statistical Methodology)</i>, <i>75</i>(4), 743–768.</li>
<li data-key='evans2013comment'>Evans, R. J. (2013). Comment: Acyclic Directed Mixed Graphs for Marginalized Models. <i>Sociological Methodology</i>, <i>43</i>(1), 104–106.</li>
<li data-key='shpitser2012parameter'>Shpitser, I., Richardson, T. S., Robins, J. M., &amp; Evans, R. J. (2012). Parameter and structure learning in nested Markov models. <i>28th Conference on Uncertainty in Artificial Intelligence (Causal Structure Learning Workshop)</i>.</li>
<li data-key='evans2012graphical'>Evans, R. J. (2012). Graphical methods for inequality constraints in marginalized DAGs. <i>2012 IEEE International Workshop on Machine Learning for Signal Processing</i>, 1–6.</li>
<li data-key='richardson2011transparent'>Richardson, T. S., Evans, R. J., &amp; Robins, J. M. (2011). Transparent parameterizations of models for potential outcomes. <i>Bayesian Statistics</i>, <i>9</i>, 569–610.</li>
<li data-key='evans2011parametrizations'>Evans, R. J. (2011). Parametrizations of discrete graphical models.</li>
<li data-key='evans2011lectures'>Evans, R. J. (2011). Lectures on Algebraic Statistics. <i>SIAM Review</i>, <i>53</i>(1), 189.</li>
<li data-key='evans2010maximum'>Evans, R. J., &amp; Richardson, T. S. (2010). Maximum likelihood fitting of acyclic directed mixed graphs to binary data. <i>Proceedings of the 26th Conference on Uncertainty in Artificial Intelligence</i>.</li>
<li data-key='evansrates'>Evans, R. (2007). Rates of Convergence of Maximum Likelihood Estimators Via Entropy Methods.</li>
</ul>

{% include base_path %}


<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}


